// Variables design here
$bgColor: #E3E6E6;
$block: #000000;
$roboto: Roboto, sans-serif;
$boxShadow: rgba(100, 100, 111, 0.2) 0px 1px 4px 0px;
$white: #ffffff;
$blue: #1616ed;
$rose: #E30F6F;
$border: #6c6565;

$breakpoint-mobile-min : 320px;
$breakpoint-mobile-max : 767px;

$breakpoint-tablet-min : 768px;
$breakpoint-tablet-max : 1024px;

$breakpoint-maxmini-min : 1025px;
$breakpoint-maxmini-max : 1280px;

$breakpoint-desktop-min : 1281px;
$breakpoint-desktop-max : 30000px;